{% extends 'base_generic.html' %}
{% load static %}

{% block title %}{{ employee.name }} | Bellezza{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-5">
            {% if employee.photo %}
                <img src="{{ employee.photo.url }}" class="img-fluid" alt="{{ employee.name }}">
            {% else %}
                <img src="{% static 'images/defaultImage.jpg' %}" class="img-fluid" alt="{{ employee.name }}">
            {% endif %}
        </div>
        <div class="col-md-7">
            <h2 class="mb-3">{{ employee.name }}</h2>
            <p class="text-muted">{{ employee.position }}</p>

            <h4 class="mt-4">Услуги</h4>
            <ul>
                {% for service in employee.services.all %}
                <li>{{ service.name }} ({{ service.price }} ₽)</li>
                {% empty %}
                <li>Нет привязанных услуг.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
