{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Наши услуги | Luxe Beauty{% endblock %}

{% block content %}
<section class="services container my-5">
    <h2 class="text-center mb-5 display-4">Наши услуги</h2>
    <div class="accordion" id="servicesAccordion">
     {% for category in categories %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ forloop.counter }}">
                    {{ category.name }}
                </button>
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse">
                <div class="accordion-body">

                    {% for service in category.services.all %}
                    <div class="mb-3">
                        <a href="{% url 'service_detail' service.id %}"
                           class="d-block p-3 border rounded text-decoration-none text-dark">
                            <strong>{{ service.name }}</strong> – {{ service.price }} ₽
                        </a>
                    </div>
                    {% empty %}
                        <p>В этой категории пока нет услуг.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
